.pText{
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 2ch;
    color: #2F160B;
}
.introText{
    font-family: "DM Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 4ch;
    color: #2F160B;
}
