.navColor{
    background-color: #FBF3E7;
}
.navitems{
    font-size: 3ch;
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #2F160B;
}
.dropdownitems{
    font-size: 25px;
}
.contactIcon{
    width: 40px;
}