.navColor{
    background-color: #FBF3E7;
}
.navToggle{
}
.navitems{
    font-size: 3ch;
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;

}
.dropdownitems{
    font-size: 25px;
}
