---
import { Image } from 'astro:assets';
import 'bootstrap/dist/css/bootstrap.css'
import '../styles/about.css'
import Header from '../components/headerAbout.astro'
import Footer from '../components/footer.astro'
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Rachell Skinner - About</title>
		<!--Bootstrap Stylesheet -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</head>
	<body>
	<header>
		<Header />
	</header>
	<br>
	<br>
	<!--Column Layout -->
	<div class="clearfix container">
		<div class="row align-items-center">
			<div class="col-lg-8">
				<h2 class="introText mb-4">Hi, my name is Rachell.</h2>
				<p class="pText">I am a multimedia designer and developer focused on the digital landscape. I am from a small town in Lexington, South Carolina but currently residing in Conway, SC. I recently obtained my Bachelor of Arts in Digital Culture & Design with a minor in Web Application Development at Coastal Carolina University in May 2024. I have a wide range of versatility in both design, front-end, and back-end programming including a comprehensive tool and skill set in web development and digital analysis. Following my degree, I am presently seeking work in front-end programming and web design.
					<br>
					Nonetheless, I am always looking to expand my abilities, understanding, and profession with a flexible outlook on my developing career. When I am away from the web, you can find me sitting in my hammock, listening to 60s rock.
				</p>
			</div>
			<div class="col-lg-4 mb-3 mb-lg-0">
				<Image src="/nicePortrait.png" width="700" height="700" class="img-fluid mx-auto d-block custom-sm-image" alt="Casual headshot portrait of Rachell Skinner: Short haired woman with glasses standing outside."></Image>
			</div>
		</div>
	</div>
	<!--Skills/Tools/Software I am Familar with?? -->


	<div class="container">
		<div class="row justify-content-md-center justify-content-md-between align-items-center">
		  <div class="col-md-6 mb-3 mb-md-0 text-center text-md-start">
			<h2 class="nextProjectsLinks">
			  <a href="/#" class="text-decoration-none">
				<img class="icon" src="/arrow-left-short.svg" alt="Left Arrow Icon SVG">
				Last: Home
			  </a>
			</h2>
		  </div>
		  <div class="col-md-6 text-center text-md-end">
			<h2 class="nextProjectsLinks">
			  <a href="/programming-works" class="text-decoration-none">
				Next: Programming Works
				<img class="icon" src="/arrow-right-short.svg" alt="Right Arrow Icon SVG">
			  </a>
			</h2>
		  </div>
		</div>
	  </div>

	<Footer />
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>

<!-- 
				float-md-start ms-md-1 me-2 col-sm-12
			<br>
			<p class="pText">My programming experience consists of server-side development, content management systems, API programming, web design, and game development. I am familiar with languages like Python, HTML, CSS, JavaScript, PHP, SQL, C++, C#, and Java. I’ve worked with tools like Docker, Django, MySQL, and PHPMyAdmin. I’ve also used game development and interactive fiction software like Unity, BlueJ, GreenFoot, Ren’Py, Twine, and Inform 7. </p>
			<br>
			<Image src="/skillLevel.png" width="500" height="500" class="img-fluid col-md-6 float-md-end mt-3 mb-3 col-sm-12 ms-md-3" alt="Skill Level Chart."></Image>

			<p class="pText">I have discussed a wide range of topics that I am passionate about like mental health, intersectionality, student workers, world events, and authenticity. To convey these topics I have used analytical tools like Mallet: Machine Learning for Language Toolkit, Voyant Tools, and Tableau. These topics are designed to be visually appealing from an accessibility context using popular platforms and features like ArcGIS Story Maps, Microsoft Sway, and Canva. Furthermore, I am also familiar with Adobe Create Cloud such as Adobe Photoshop, InDesign, Illustrator, Dreamweaver, and Audition. This includes my design experience working with print and digital designs such as brochures, inserts, ads, digital PDFs, and email newsletters.</p>
    		<p class="pText">I am always looking to expand my abilities and dabble with different media mediums to convey a variety of themes that I find worth talking about. When I am away from the web, you can find me sitting in my hammock, listening to The Doors, or enjoying a cup of hot chocolate.</p>
			-->