---
import 'bootstrap/dist/css/bootstrap.css'
import '../styles/about.css'
import Navigation from '../components/navigation.astro'
import Header from '../components/headerAbout.astro'
import Footer from '../components/footer.astro'
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Rachell Skinner - About</title>
		<!--Bootstrap Stylesheet -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!--Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
	</head>
	<body>
	<header>
		<Navigation />
		<Header />
	</header>
	<br>
	<br>
    <p class="pText">Hi, my name is Rachell. I am a multimedia designer and programmer focused on the digital landscape. I am from a small town in Lexington, South Carolina but currently living in Conway, SC to complete my studies. I am currently completing my bachelor's degree in Digital Culture & Design with a minor in Web Application Development at Coastal Carolina University. I have a wide range of versatility in both design and programming to convey larger topics and ideas.</p>
    <p class="pText">My programming experience consists of server-side development, content management systems, API programming, web design, and game development. I am familiar with languages with Python, HTML, CSS, JavaScript, PHP, MySQL, C++, C#, and Java. I’ve worked with tools like Docker, Django, MySQL, and PHPMyAdmin. I’ve also used game development and interactive fiction software like Unity, BlueJ, GreenFoot, Ren’Py, Twine, and Inform 7. </p>
    <p class="pText">I have discussed a wide range of topics that I am passionate about like mental health, intersectionality, student workers, world events, and authenticity. To convey these topics I have used analytical tools like Mallet: Machine Learning for Language Toolkit, Voyant Tools, Tableau, and research both personally and generally. These topics are designed to be visually appealing from an accessibility context using popular platforms and features like ArcGIS Story Maps, Microsoft Sway, and Canva. Furthermore, I also have design experience including print and digital such as brochures, inserts, ads, digital PDFs, and email newsletters.</p>
    <p class="pText">I am always looking to expand my abilities and dabble with different media mediums to convey a variety of themes that I find worth talking about. When I am away from the web, you can find me sitting in my hammock, playing casual video games, or enjoying a cup of hot chocolate.</p>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
