---
import 'bootstrap/dist/css/bootstrap.css'
import Navigation from '../components/navigation.astro'
import Header from '../components/headerProgramWorks.astro'
import Footer from '../components/footer.astro'
import '../styles/programProjects.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Rachell Skinner - Programming Works</title>
		<!--Bootstrap Stylesheet -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</head>
	<body>
	<header>
		<Navigation />
        <Header />
	</header>
	<br>
	<div class="container-fluid">
		<!--Project 1 -->
		<div class="row justify-content-center my-5">
			<div class="mt-10 col-12 col-md-7 mb-md-0">
				<!--Project Preview Img -->
				<div class="preview">
				<div class="containerImg d-flex justify-content-center align-items-center">
					<img src="/csci303EMSPreview.gif" class="img-fluid previewGif" alt="GIF Img of Employee Management System Project Preview">
					<img src="/blob1.png" class="img-fluid blobImg" width="550" alt="Blob Graphic Background Frame for Project Preview">
				</div>
				</div>
				<!--Project Preview Img END-->
			</div>
			<div class="col-12 col-md-4">
				<h1 class="previewHTxt">Employee Management System</h1>
				<p class="previewPTxt">This employee management system project features my database communication and server-side web development skills. This form website uses languages like PHP, HTML, and MySQL while using tools like PHPMyAdmin and PHPMailer hosted through Coastal Carolina University’s research server.</p>
				<!--Button-->
				<div class="d-grid gap-2 col-md-8 mx-auto">
					<a class="btn btn-outline-primary button" href="https://ccuresearch.coastal.edu/rskinner/csci303fa23/" target="_blank">View Live Site Here</a>
				</div>
				<!--Button END-->
			</div>
		</div>
		<!--Project 1 END -->

		<!--Project 2 -->
		<div class="row justify-content-center">
			<div class="col-12 mt-10 col-md-7 mb-md-0 ">
				<!--Project Preview Img -->
				<div class="preview">
				<div class="containerImg d-flex justify-content-center align-items-center">
					<img src="/inform7ClusterBPreview.gif" class="img-fluid previewGif" alt="GIF Img of Inform 7 - Cluster B Project Preview">
					<img src="/blob2.png" class="img-fluid blobImg" width="700" alt="Blob Graphic Background Frame for Project Preview">
				</div>
				</div>
				<!--Project Preview Img END-->
			</div>
			<div class="col-12 col-md-4">
				<h1 class="previewHTxt">Cluster B</h1>
				<p class="previewPTxt">Cluster B is an interactive fiction using personal experiences to convey a personal expression of my mental health while raising awareness of personality disorders. Using Inform 7, it takes place inside a brain while the player explores certain experiences in three different rooms while talking to close ones.</p>
				<!--Button-->
				<div class="d-grid gap-2 col-md-8 mx-auto">
					<a class="btn btn-outline-primary button" href="/projectFiles/Cluster-B.gblorb" download>Download Gblorb File Here</a>
					<p class="previewPTxt text-center">(Requires Z-Code interpreter)</p>
					<!--in-browser z-code interpreter: https://iplayif.com/ -->
				</div>
				<!--Button END-->
			</div>
		</div>
	</div>
	<br>
	<Footer />
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
