---
import '../styles/footer.css';
---
<!--Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<div class="footerContainer">
    <div class="container">
    <a href="https://www.instagram.com/pastelelayne/"><img class="socialIcon instaIcon" src="/instagram.svg" alt="Instagram Logo Icon SVG"></a>
    <a href="https://www.pinterest.com/pastelelayne/"><img class="socialIcon pinIcon" src="/pinterest.svg" alt="Pinterest Logo Icon SVG"></a>
    <p class="disclaimerText">&copy; Rachell Skinner</p>
    </div>  
<!--SVG -->
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 490" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="99%" y1="40%" x2="1%" y2="60%"><stop offset="5%" stop-color="#8cb369"></stop><stop offset="95%" stop-color="#f4a259"></stop></linearGradient></defs><path d="M 0,700 L 0,175 C 34.06925903407439,160.97891829020062 68.13851806814878,146.95783658040128 119,142 C 169.86148193185122,137.04216341959872 237.5151867614793,141.14757196859554 292,159 C 346.4848132385207,176.85242803140446 387.80073488593416,208.4518755452166 438,226 C 488.19926511406584,243.5481244547834 547.2818736947844,247.04492585053794 592,239 C 636.7181263052156,230.95507414946206 667.0717703349283,211.3684210526316 716,191 C 764.9282296650717,170.6315789473684 832.4310449655027,149.4813899389357 881,172 C 929.5689550344973,194.5186100610643 959.204049803061,260.7060191916255 1003,244 C 1046.795950196939,227.29398080837453 1104.7527558222525,127.69453329456236 1160,109 C 1215.2472441777475,90.30546670543764 1267.784926907928,152.51584763012505 1314,177 C 1360.215073092072,201.48415236987495 1400.107536546036,188.24207618493747 1440,175 L 1440,700 L 0,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><defs><linearGradient id="gradient" x1="99%" y1="40%" x2="1%" y2="60%"><stop offset="5%" stop-color="#8cb369"></stop><stop offset="95%" stop-color="#f4a259"></stop></linearGradient></defs><path d="M 0,700 L 0,408 C 37.74893600148036,378.2800364799492 75.49787200296072,348.5600729598985 121,353 C 166.50212799703928,357.4399270401015 219.75744798963757,396.0397446403553 272,411 C 324.24255201036243,425.9602553596447 375.4723360384889,417.28094847868033 430,427 C 484.5276639615111,436.71905152131967 542.3532078564066,464.8364614449232 585,458 C 627.6467921435934,451.1635385550768 655.1148325358851,409.37320574162675 698,400 C 740.8851674641149,390.62679425837325 799.1874620000528,413.67071558856964 857,421 C 914.8125379999472,428.32928441143036 972.1353194639034,419.9439319040947 1023,399 C 1073.8646805360966,378.0560680959053 1118.2712601443334,344.5535567950514 1161,335 C 1203.7287398556666,325.4464432049486 1244.779639958762,339.84184091569955 1291,356 C 1337.220360041238,372.15815908430045 1388.610180020619,390.0790795421502 1440,408 L 1440,700 L 0,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>
<!--END SVG -->
</div>