---
import '../styles/header.css';
---
<!--Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">

<div class="headContainer">
    <div class="textContainer">
        <img class="typeText mainType" src="https://readme-typing-svg.herokuapp.com?font=Courier+Prime&size=80&duration=3000&pause=6000&color=2F160B&center=true&vCenter=true&random=false&width=740&height=80&lines=About" alt="Typing SVG" />
    </div>

<!-- NavBar START-->
<nav class="navbar sticky-top navbar-expand-lg navBarOverlay">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href=""><img src="https://readme-typing-svg.herokuapp.com?font=Courier+Prime&size=40&duration=7000&pause=4000&color=2F160B&vCenter=true&random=false&width=370&height=60&lines=Rachell+Skinner" alt="Typing SVG" /></a>
         typing site: https://readme-typing-svg.herokuapp.com/demo/-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item navitems ">
            <a class="nav-link" href="/#">Home</a>
          </li>
          <li class="nav-item navitems">
            <a class="nav-link activePage" aria-current="page" href="/about">About</a>
          </li>
          <li class="nav-item dropdown navitems">
            <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects</a>
            <ul class="dropdown-menu wholeDropdown">
              <li><a class="dropdown-item dropdownitems" href="/programming-works">Programming Works</a></li>
              <li><a class="dropdown-item dropdownitems" href="/data-driven-works">Data-Driven Works</a></li>
              <li><a class="dropdown-item dropdownitems" href="/design-driven-works">Design-Driven Works</a></li>
            </ul>
          </li>
          <li class="nav-item navitems">
            <a class="nav-link" href="mailto:theSER8@hotmail.com">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--NavBar END -->

<!--SVG -->
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 690" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
    .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-0{
    0%{
    d: path("M 0,700 L 0,105 C 39.36855322636073,105.72400803616273 78.73710645272146,106.44801607232547 133,96 C 187.26289354727854,85.55198392767453 256.4201274154749,63.93194374686087 309,74 C 361.5798725845251,84.06805625313913 397.5823838853789,125.82420894023105 442,139 C 486.4176161146211,152.17579105976895 539.2503370430094,136.77122049221498 583,136 C 626.7496629569906,135.22877950778502 661.4162679425838,149.0909090909091 712,137 C 762.5837320574162,124.9090909090909 829.0845911866558,86.86514314414867 883,75 C 936.9154088133442,63.13485685585133 978.2453673107932,77.44851833249623 1018,95 C 1057.7546326892068,112.55148166750377 1095.933939570171,133.34078352586639 1142,128 C 1188.066060429829,122.65921647413361 1242.0188744085226,91.18834756403817 1293,83 C 1343.9811255914774,74.81165243596183 1391.9905627957387,89.90582621798092 1440,105 L 1440,700 L 0,700 Z");
    }
    25%{
    d: path("M 0,700 L 0,105 C 50.628115995664686,128.1203441803907 101.25623199132937,151.2406883607814 146,140 C 190.74376800867063,128.7593116392186 229.6031880303471,83.15759073726505 274,78 C 318.3968119696529,72.84240926273495 368.3310158872822,108.12894869015835 423,112 C 477.6689841127178,115.87105130984165 537.0727484205239,88.32661450210156 593,75 C 648.9272515794761,61.67338549789844 701.3779904306218,62.564593301435416 746,63 C 790.6220095693782,63.435406698564584 827.4152898569881,63.4150122921568 865,63 C 902.5847101430119,62.5849877078432 940.9608501414257,61.77535752993735 995,69 C 1049.0391498585743,76.22464247006265 1118.7413095773088,91.48355758809379 1174,108 C 1229.2586904226912,124.51644241190621 1270.0739115493402,142.29041211768748 1312,142 C 1353.9260884506598,141.70958788231252 1396.96304422533,123.35479394115626 1440,105 L 1440,700 L 0,700 Z");
    }
    50%{
    d: path("M 0,700 L 0,105 C 54.056464617092715,109.70956144756668 108.11292923418543,114.41912289513337 151,123 C 193.88707076581457,131.58087710486663 225.604747680351,144.03306986703322 273,150 C 320.395252319649,155.96693013296678 383.4680800444104,155.44859763673372 429,134 C 474.5319199555896,112.55140236326626 502.52293214200745,70.17253958603189 552,67 C 601.4770678579926,63.82746041396812 672.4401913875598,99.86124401913875 733,125 C 793.5598086124402,150.13875598086125 843.7163023077534,164.3824843374131 883,156 C 922.2836976922466,147.6175156625869 950.6945993814269,116.60881863120886 987,100 C 1023.3054006185731,83.39118136879114 1067.505300166539,81.18224113775146 1125,78 C 1182.494699833461,74.81775886224854 1253.2841999524173,70.6622168177853 1308,75 C 1362.7158000475827,79.3377831822147 1401.3579000237914,92.16889159110735 1440,105 L 1440,700 L 0,700 Z");
    }
    75%{
    d: path("M 0,700 L 0,105 C 59.433397657881514,116.33658040127943 118.86679531576303,127.67316080255888 160,116 C 201.13320468423697,104.32683919744112 223.96621639482936,69.6439371910439 271,56 C 318.03378360517064,42.356062808956096 389.26833910491945,49.7510904332655 441,70 C 492.73166089508055,90.2489095667345 524.9604271854927,123.35170107589414 574,140 C 623.0395728145073,156.64829892410586 688.88995215311,156.84210526315792 742,151 C 795.11004784689,145.15789473684208 835.4797642020673,133.27987787147427 876,126 C 916.5202357979327,118.72012212852573 957.1909910386214,116.03838325094505 1003,121 C 1048.8090089613786,125.96161674905495 1099.756271643448,138.56658912474558 1156,143 C 1212.243728356552,147.43341087525442 1273.7839223875862,143.6952602500727 1322,136 C 1370.2160776124138,128.3047397499273 1405.1080388062069,116.65236987496365 1440,105 L 1440,700 L 0,700 Z");
    }
    100%{
    d: path("M 0,700 L 0,105 C 39.36855322636073,105.72400803616273 78.73710645272146,106.44801607232547 133,96 C 187.26289354727854,85.55198392767453 256.4201274154749,63.93194374686087 309,74 C 361.5798725845251,84.06805625313913 397.5823838853789,125.82420894023105 442,139 C 486.4176161146211,152.17579105976895 539.2503370430094,136.77122049221498 583,136 C 626.7496629569906,135.22877950778502 661.4162679425838,149.0909090909091 712,137 C 762.5837320574162,124.9090909090909 829.0845911866558,86.86514314414867 883,75 C 936.9154088133442,63.13485685585133 978.2453673107932,77.44851833249623 1018,95 C 1057.7546326892068,112.55148166750377 1095.933939570171,133.34078352586639 1142,128 C 1188.066060429829,122.65921647413361 1242.0188744085226,91.18834756403817 1293,83 C 1343.9811255914774,74.81165243596183 1391.9905627957387,89.90582621798092 1440,105 L 1440,700 L 0,700 Z");
    }
    }</style><defs><linearGradient id="gradient" x1="8%" y1="23%" x2="92%" y2="77%"><stop offset="5%" stop-color="#8CB369"></stop><stop offset="95%" stop-color="#F4A259"></stop></linearGradient></defs><path d="M 0,700 L 0,105 C 39.36855322636073,105.72400803616273 78.73710645272146,106.44801607232547 133,96 C 187.26289354727854,85.55198392767453 256.4201274154749,63.93194374686087 309,74 C 361.5798725845251,84.06805625313913 397.5823838853789,125.82420894023105 442,139 C 486.4176161146211,152.17579105976895 539.2503370430094,136.77122049221498 583,136 C 626.7496629569906,135.22877950778502 661.4162679425838,149.0909090909091 712,137 C 762.5837320574162,124.9090909090909 829.0845911866558,86.86514314414867 883,75 C 936.9154088133442,63.13485685585133 978.2453673107932,77.44851833249623 1018,95 C 1057.7546326892068,112.55148166750377 1095.933939570171,133.34078352586639 1142,128 C 1188.066060429829,122.65921647413361 1242.0188744085226,91.18834756403817 1293,83 C 1343.9811255914774,74.81165243596183 1391.9905627957387,89.90582621798092 1440,105 L 1440,700 L 0,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.265" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 350)"></path><style>
    .path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-1{
    0%{
    d: path("M 0,700 L 0,245 C 36.65010970419519,242.47524386053027 73.30021940839038,239.95048772106057 127,229 C 180.69978059160962,218.04951227893943 251.44923207063368,198.67329297628805 302,200 C 352.5507679293663,201.32670702371195 382.90285230907494,223.3563403737873 427,242 C 471.09714769092506,260.6436596262127 528.9393586930663,275.9013455285628 578,286 C 627.0606413069337,296.0986544714372 667.3397129186603,301.0382775119617 720,296 C 772.6602870813397,290.9617224880383 837.7017896322926,275.9455444235904 882,254 C 926.2982103677074,232.05445557640962 949.853128552169,203.1795447936768 1000,195 C 1050.146871447831,186.8204552063232 1126.8856961590313,199.3362764017024 1172,205 C 1217.1143038409687,210.6637235982976 1230.6040868117052,209.47534959951358 1270,215 C 1309.3959131882948,220.52465040048642 1374.6979565941474,232.7623252002432 1440,245 L 1440,700 L 0,700 Z");
    }
    25%{
    d: path("M 0,700 L 0,245 C 55.7820190858865,229.59453065108778 111.564038171773,214.18906130217556 163,234 C 214.435961828227,253.81093869782444 261.52586639879456,308.8382854423855 298,296 C 334.47413360120544,283.1617145576145 360.3324962330488,202.4577969282825 411,198 C 461.6675037669512,193.5422030717175 537.1441486690105,265.3305268444844 593,283 C 648.8558513309895,300.6694731555156 685.0909090909091,264.22009569377997 733,252 C 780.9090909090909,239.77990430622003 840.4922149673531,251.78909038039598 887,257 C 933.5077850326469,262.210909619604 966.9402310396786,260.62354278463613 1014,253 C 1061.0597689603214,245.3764572153639 1121.7468608739325,231.71673848105954 1165,232 C 1208.2531391260675,232.28326151894046 1234.0723254645907,246.50950329112584 1277,251 C 1319.9276745354093,255.49049670887416 1379.9638372677045,250.24524835443708 1440,245 L 1440,700 L 0,700 Z");
    }
    50%{
    d: path("M 0,700 L 0,245 C 33.75978746464352,251.99599513600677 67.51957492928705,258.99199027201354 118,260 C 168.48042507071295,261.00800972798646 235.68148774749534,256.02803404795264 289,245 C 342.31851225250466,233.97196595204736 381.7544740807317,216.8958735361759 429,215 C 476.2455259192683,213.1041264638241 531.3006159295779,226.3884718073436 577,226 C 622.6993840704221,225.6115281926564 659.0430622009569,211.55023923444975 710,216 C 760.9569377990431,220.44976076555025 826.5271352665944,243.41057125485736 871,259 C 915.4728647334056,274.58942874514264 938.8483967326654,282.8074757461207 990,281 C 1041.1516032673346,279.1925242538793 1120.079277802744,267.35952576065984 1177,254 C 1233.920722197256,240.64047423934016 1268.8344920563588,225.75442121124004 1309,224 C 1349.1655079436412,222.24557878875996 1394.5827539718207,233.62278939438 1440,245 L 1440,700 L 0,700 Z");
    }
    75%{
    d: path("M 0,700 L 0,245 C 42.46732665415422,267.85537550556455 84.93465330830844,290.71075101112905 136,293 C 187.06534669169156,295.28924898887095 246.72871342092043,277.0123714610484 301,259 C 355.2712865790796,240.98762853895158 404.15049300800973,223.23976314467734 446,231 C 487.84950699199027,238.76023685532266 522.6693145470407,272.02857596024216 567,271 C 611.3306854529593,269.97142403975784 665.1722488038278,234.6459330143541 719,240 C 772.8277511961722,245.3540669856459 826.6416902376483,291.38769198234155 866,294 C 905.3583097623517,296.61230801765845 930.260990245579,255.80329905627957 981,232 C 1031.739009754421,208.19670094372043 1108.3143487800364,201.39911179254008 1170,219 C 1231.6856512199636,236.60088820745992 1278.4816146342755,278.60025377356 1321,287 C 1363.5183853657245,295.39974622644 1401.7591926828622,270.19987311322 1440,245 L 1440,700 L 0,700 Z");
    }
    100%{
    d: path("M 0,700 L 0,245 C 36.65010970419519,242.47524386053027 73.30021940839038,239.95048772106057 127,229 C 180.69978059160962,218.04951227893943 251.44923207063368,198.67329297628805 302,200 C 352.5507679293663,201.32670702371195 382.90285230907494,223.3563403737873 427,242 C 471.09714769092506,260.6436596262127 528.9393586930663,275.9013455285628 578,286 C 627.0606413069337,296.0986544714372 667.3397129186603,301.0382775119617 720,296 C 772.6602870813397,290.9617224880383 837.7017896322926,275.9455444235904 882,254 C 926.2982103677074,232.05445557640962 949.853128552169,203.1795447936768 1000,195 C 1050.146871447831,186.8204552063232 1126.8856961590313,199.3362764017024 1172,205 C 1217.1143038409687,210.6637235982976 1230.6040868117052,209.47534959951358 1270,215 C 1309.3959131882948,220.52465040048642 1374.6979565941474,232.7623252002432 1440,245 L 1440,700 L 0,700 Z");
    }
    }</style><defs><linearGradient id="gradient" x1="8%" y1="23%" x2="92%" y2="77%"><stop offset="5%" stop-color="#8CB369"></stop><stop offset="95%" stop-color="#F4A259"></stop></linearGradient></defs><path d="M 0,700 L 0,245 C 36.65010970419519,242.47524386053027 73.30021940839038,239.95048772106057 127,229 C 180.69978059160962,218.04951227893943 251.44923207063368,198.67329297628805 302,200 C 352.5507679293663,201.32670702371195 382.90285230907494,223.3563403737873 427,242 C 471.09714769092506,260.6436596262127 528.9393586930663,275.9013455285628 578,286 C 627.0606413069337,296.0986544714372 667.3397129186603,301.0382775119617 720,296 C 772.6602870813397,290.9617224880383 837.7017896322926,275.9455444235904 882,254 C 926.2982103677074,232.05445557640962 949.853128552169,203.1795447936768 1000,195 C 1050.146871447831,186.8204552063232 1126.8856961590313,199.3362764017024 1172,205 C 1217.1143038409687,210.6637235982976 1230.6040868117052,209.47534959951358 1270,215 C 1309.3959131882948,220.52465040048642 1374.6979565941474,232.7623252002432 1440,245 L 1440,700 L 0,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 350)"></path><style>
    .path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-2{
    0%{
    d: path("M 0,700 L 0,385 C 56.50938433476962,363.83993761399984 113.01876866953924,342.6798752279997 155,335 C 196.98123133046076,327.3201247720003 224.4343096566127,333.1204367020011 275,332 C 325.5656903433873,330.8795632979989 399.2439927040101,322.83837796399587 457,344 C 514.7560072959899,365.16162203600413 556.5897195273468,415.5260514420154 597,427 C 637.4102804726532,438.4739485579846 676.3971291866028,411.0574162679426 726,411 C 775.6028708133972,410.9425837320574 835.8217637262418,438.2442834862143 889,435 C 942.1782362737582,431.7557165137857 988.3158159084301,397.9654497872004 1033,383 C 1077.68418409157,368.0345502127996 1120.914972640038,371.8939173649845 1169,385 C 1217.085027359962,398.1060826350155 1270.0242935314177,420.45888075286155 1316,422 C 1361.9757064685823,423.54111924713845 1400.9878532342912,404.2705596235692 1440,385 L 1440,700 L 0,700 Z");
    }
    25%{
    d: path("M 0,700 L 0,385 C 58.73624732348199,406.3380078775542 117.47249464696398,427.6760157551085 158,411 C 198.52750535303602,394.3239842448915 220.84626873562604,339.63394485712024 266,346 C 311.15373126437396,352.36605514287976 379.1424304105317,419.78820481641065 439,424 C 498.8575695894683,428.21179518358935 550.5840096222474,369.2132358772371 591,358 C 631.4159903777526,346.7867641227629 660.5215311004786,383.35885167464113 711,383 C 761.4784688995214,382.64114832535887 833.3298659758386,345.3513574241984 881,347 C 928.6701340241614,348.6486425758016 952.1590049961671,389.23571862856545 989,396 C 1025.8409950038329,402.76428137143455 1076.0341140394933,375.70576806154 1125,365 C 1173.9658859605067,354.29423193846 1221.7045388458591,359.94120912527427 1274,366 C 1326.2954611541409,372.05879087472573 1383.1477305770704,378.52939543736284 1440,385 L 1440,700 L 0,700 Z");
    }
    50%{
    d: path("M 0,700 L 0,385 C 57.69868354965767,365.9742261228158 115.39736709931535,346.9484522456317 161,364 C 206.60263290068465,381.0515477543683 240.1092151523963,434.1804171402892 289,429 C 337.8907848476037,423.8195828597108 402.1657722910995,360.3298791932116 455,361 C 507.8342277089005,361.6701208067884 549.2276956832061,426.50006608686465 594,425 C 638.7723043167939,423.49993391313535 686.9234449760766,355.66985645933016 734,345 C 781.0765550239234,334.33014354066984 827.0785244124877,380.8205080758148 874,407 C 920.9214755875123,433.1794919241852 968.7624573739724,439.04811123741047 1022,423 C 1075.2375426260276,406.95188876258953 1133.8716460916228,368.9870469745433 1173,370 C 1212.1283539083772,371.0129530254567 1231.7509582595362,411.0037008644162 1273,420 C 1314.2490417404638,428.9962991355838 1377.124520870232,406.99814956779187 1440,385 L 1440,700 L 0,700 Z");
    }
    75%{
    d: path("M 0,700 L 0,385 C 35.262576330328585,375.7313568955035 70.52515266065717,366.46271379100693 126,358 C 181.47484733934283,349.53728620899307 257.16196568769993,341.8805017314759 313,350 C 368.83803431230007,358.1194982685241 404.8269845885432,382.0152792830897 446,394 C 487.1730154114568,405.9847207169103 533.5300959581274,406.0583811361654 578,392 C 622.4699040418726,377.9416188638346 665.0526315789474,349.75119617224885 708,350 C 750.9473684210526,350.24880382775115 794.2593777260832,378.93683417483936 851,382 C 907.7406222739168,385.06316582516064 977.90985751672,362.5014671283936 1024,345 C 1070.09014248328,327.4985328716064 1092.101192207037,315.0572973115864 1129,333 C 1165.898807792963,350.9427026884136 1217.6853736551323,399.26934362526106 1272,413 C 1326.3146263448677,426.73065637473894 1383.157313172434,405.86532818736947 1440,385 L 1440,700 L 0,700 Z");
    }
    100%{
    d: path("M 0,700 L 0,385 C 56.50938433476962,363.83993761399984 113.01876866953924,342.6798752279997 155,335 C 196.98123133046076,327.3201247720003 224.4343096566127,333.1204367020011 275,332 C 325.5656903433873,330.8795632979989 399.2439927040101,322.83837796399587 457,344 C 514.7560072959899,365.16162203600413 556.5897195273468,415.5260514420154 597,427 C 637.4102804726532,438.4739485579846 676.3971291866028,411.0574162679426 726,411 C 775.6028708133972,410.9425837320574 835.8217637262418,438.2442834862143 889,435 C 942.1782362737582,431.7557165137857 988.3158159084301,397.9654497872004 1033,383 C 1077.68418409157,368.0345502127996 1120.914972640038,371.8939173649845 1169,385 C 1217.085027359962,398.1060826350155 1270.0242935314177,420.45888075286155 1316,422 C 1361.9757064685823,423.54111924713845 1400.9878532342912,404.2705596235692 1440,385 L 1440,700 L 0,700 Z");
    }
    }</style><defs><linearGradient id="gradient" x1="8%" y1="23%" x2="92%" y2="77%"><stop offset="5%" stop-color="#8CB369"></stop><stop offset="95%" stop-color="#F4A259"></stop></linearGradient></defs><path d="M 0,700 L 0,385 C 56.50938433476962,363.83993761399984 113.01876866953924,342.6798752279997 155,335 C 196.98123133046076,327.3201247720003 224.4343096566127,333.1204367020011 275,332 C 325.5656903433873,330.8795632979989 399.2439927040101,322.83837796399587 457,344 C 514.7560072959899,365.16162203600413 556.5897195273468,415.5260514420154 597,427 C 637.4102804726532,438.4739485579846 676.3971291866028,411.0574162679426 726,411 C 775.6028708133972,410.9425837320574 835.8217637262418,438.2442834862143 889,435 C 942.1782362737582,431.7557165137857 988.3158159084301,397.9654497872004 1033,383 C 1077.68418409157,368.0345502127996 1120.914972640038,371.8939173649845 1169,385 C 1217.085027359962,398.1060826350155 1270.0242935314177,420.45888075286155 1316,422 C 1361.9757064685823,423.54111924713845 1400.9878532342912,404.2705596235692 1440,385 L 1440,700 L 0,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-2" transform="rotate(-180 720 350)"></path><style>
    .path-3{
    animation:pathAnim-3 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-3{
    0%{
    d: path("M 0,700 L 0,525 C 50.455602844378646,501.851568902165 100.91120568875729,478.70313780432997 157,478 C 213.0887943112427,477.29686219567003 274.81078008934946,499.0390176848449 313,509 C 351.18921991065054,518.9609823151551 365.845673953845,517.1407914562901 414,522 C 462.154326046155,526.8592085437099 543.8065240952708,538.3978164899944 602,525 C 660.1934759047292,511.6021835100056 694.9282296650719,473.2679425837321 729,485 C 763.0717703349281,496.7320574162679 796.4805572444419,558.5304131750773 847,563 C 897.5194427555581,567.4695868249227 965.1495413571602,514.6104047159587 1014,502 C 1062.8504586428398,489.3895952840413 1092.9212773269185,517.0279679610882 1133,517 C 1173.0787226730815,516.9720320389118 1223.1653493351662,489.2777234396891 1276,486 C 1328.8346506648338,482.7222765603109 1384.417325332417,503.86113828015544 1440,525 L 1440,700 L 0,700 Z");
    }
    25%{
    d: path("M 0,700 L 0,525 C 46.02209944751381,495.23771445187555 92.04419889502762,465.4754289037511 145,479 C 197.95580110497238,492.5245710962489 257.8453038674033,549.3359988368712 312,569 C 366.1546961325967,588.6640011631288 414.57458563535914,571.1805757487641 453,550 C 491.42541436464086,528.8194242512359 519.8563535911602,503.94169816807215 569,506 C 618.1436464088398,508.05830183192785 688,537.0526315789473 745,534 C 802,530.9473684210527 846.1436464088397,495.8477755161383 880,504 C 913.8563535911603,512.1522244838617 937.4254143646408,563.5562663564991 989,569 C 1040.5745856353592,574.4437336435009 1120.1546961325969,533.9271590578657 1177,522 C 1233.8453038674031,510.07284094213435 1267.9558011049721,526.7350974120384 1308,532 C 1348.0441988950279,537.2649025879616 1394.022099447514,531.1324512939808 1440,525 L 1440,700 L 0,700 Z");
    }
    50%{
    d: path("M 0,700 L 0,525 C 34.81351608554283,549.4939728779508 69.62703217108566,573.9879457559016 122,557 C 174.37296782891434,540.0120542440984 244.30538740120016,481.54218985434454 304,484 C 363.69461259879984,486.45781014565546 413.1514182241138,549.8432948267202 451,565 C 488.8485817758862,580.1567051732798 515.0889397023446,547.0846308387745 565,535 C 614.9110602976554,522.9153691612255 688.4928229665072,531.8181818181819 741,534 C 793.5071770334928,536.1818181818181 824.9397684316265,531.6426418884982 860,540 C 895.0602315683735,548.3573581115018 933.7481033069869,569.6112506278253 986,573 C 1038.2518966930131,576.3887493721747 1104.0678183404266,561.9123556002008 1160,550 C 1215.9321816595734,538.0876443997992 1261.9806233313066,528.7393269713712 1307,525 C 1352.0193766686934,521.2606730286288 1396.0096883343467,523.1303365143144 1440,525 L 1440,700 L 0,700 Z");
    }
    75%{
    d: path("M 0,700 L 0,525 C 36.380435644611296,523.9584577969283 72.76087128922259,522.9169155938565 121,531 C 169.2391287107774,539.0830844061435 229.33695048772103,556.2907954215019 285,566 C 340.663049512279,575.7092045784981 391.8913267598932,577.9199027201355 437,575 C 482.1086732401068,572.0800972798645 521.0977424727062,564.0295936979566 569,541 C 616.9022575272938,517.9704063020434 673.7177033492824,479.9617224880383 727,494 C 780.2822966507176,508.0382775119617 830.0314441301647,574.1235163498903 872,568 C 913.9685558698353,561.8764836501097 948.1565201300591,483.54421211240054 994,474 C 1039.843479869941,464.45578788759946 1097.3424753495995,523.6996352005077 1154,552 C 1210.6575246504005,580.3003647994923 1266.473578471543,577.6572470855692 1314,568 C 1361.526421528457,558.3427529144308 1400.7632107642285,541.6713764572154 1440,525 L 1440,700 L 0,700 Z");
    }
    100%{
    d: path("M 0,700 L 0,525 C 50.455602844378646,501.851568902165 100.91120568875729,478.70313780432997 157,478 C 213.0887943112427,477.29686219567003 274.81078008934946,499.0390176848449 313,509 C 351.18921991065054,518.9609823151551 365.845673953845,517.1407914562901 414,522 C 462.154326046155,526.8592085437099 543.8065240952708,538.3978164899944 602,525 C 660.1934759047292,511.6021835100056 694.9282296650719,473.2679425837321 729,485 C 763.0717703349281,496.7320574162679 796.4805572444419,558.5304131750773 847,563 C 897.5194427555581,567.4695868249227 965.1495413571602,514.6104047159587 1014,502 C 1062.8504586428398,489.3895952840413 1092.9212773269185,517.0279679610882 1133,517 C 1173.0787226730815,516.9720320389118 1223.1653493351662,489.2777234396891 1276,486 C 1328.8346506648338,482.7222765603109 1384.417325332417,503.86113828015544 1440,525 L 1440,700 L 0,700 Z");
    }
    }</style><defs><linearGradient id="gradient" x1="8%" y1="23%" x2="92%" y2="77%"><stop offset="5%" stop-color="#8CB369"></stop><stop offset="95%" stop-color="#F4A259"></stop></linearGradient></defs><path d="M 0,700 L 0,525 C 50.455602844378646,501.851568902165 100.91120568875729,478.70313780432997 157,478 C 213.0887943112427,477.29686219567003 274.81078008934946,499.0390176848449 313,509 C 351.18921991065054,518.9609823151551 365.845673953845,517.1407914562901 414,522 C 462.154326046155,526.8592085437099 543.8065240952708,538.3978164899944 602,525 C 660.1934759047292,511.6021835100056 694.9282296650719,473.2679425837321 729,485 C 763.0717703349281,496.7320574162679 796.4805572444419,558.5304131750773 847,563 C 897.5194427555581,567.4695868249227 965.1495413571602,514.6104047159587 1014,502 C 1062.8504586428398,489.3895952840413 1092.9212773269185,517.0279679610882 1133,517 C 1173.0787226730815,516.9720320389118 1223.1653493351662,489.2777234396891 1276,486 C 1328.8346506648338,482.7222765603109 1384.417325332417,503.86113828015544 1440,525 L 1440,700 L 0,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-3" transform="rotate(-180 720 350)"></path></svg>
<!--END SVG -->
</div>

