---
import { Image } from 'astro:assets';
import 'bootstrap/dist/css/bootstrap.css'
import '../../styles/physical-fabrications/global.css';
import '../../styles/physical-fabrications/project.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>Physical & AI Fabrications Gallery</title>
		<link href="css/hover-min.css" rel="stylesheet">
		<!--Bootstrap Stylesheet -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!--Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
	</head>
	<body>
        
    <!--Header -->
     <header class="text-center">
        <div class="container">
            <div class="row mt-5 mb-2 justify-content-between align-items-center">
                <div class="col-md-3 buttonSize">
                    <a href="/physical-fabrications/project-gallery" class="d-flex align-items-center">
                        <div class="me-3" style="width:10ch;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
                                <path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/>
                            </svg>
                        </div>
                        <div>
                            <Image src="/fabricationImgs/fontHeaders/home.png" class="img-fluid" width="700" height="200" alt=""></Image>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <Image class="img-fluid mt-3" src="/fabricationImgs/fontHeaders/statement.png" width="1000" height="168" alt="Keywords in a playful, coloful, magazine cut-out letter font">
                </div>
            </div>
        </div>
    </header>
    <!--Header END-->
    <br>
    <br>

    <div class="container">
        <h2 class="pText"><b style="color: #597487;">Physical & AI Fabrication Curated Digital Gallery Statement</b></h2>
		<p class="pText" style="text-indent: 30px;">

        </p>
        <p class="pText" style="text-indent: 30px;">

        </p>
        <p class="pText" style="text-indent: 30px;">

        </p>

    <br>
    <hr>
    
        <h2 class="pText"><b style="color: #597487;">DCD 300: Art-Making in the Age of Generative AI - Statement</b></h2>
		<p class="pText" style="text-indent: 30px;">

        </p>
        <p class="pText" style="text-indent: 30px;">

        </p>
        <p class="pText" style="text-indent: 30px;">

        </p>
    </div>

    <!--Next/Prev Button -->
		<div class="container">
			<div class="row mt-5 justify-content-between align-items-center">
				<div class="col-md-3 buttonSize">
					<a href="/physical-fabrications/project4-font" class="d-flex align-items-center">
						<div class="w-25 me-3">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
								<path d="M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z"/>
							</svg>
						</div>
						<div>
							<Image src="/fabricationImgs/fontHeaders/prev.png" class="img-fluid" width="700" height="200" alt=""></Image>
						</div>
					</a>
				</div>
				<div class="col-md-3 buttonSize ">
					<a href="/physical-fabrications/project-gallery" class="d-flex align-items-center">
						<div>
							<Image src="/fabricationImgs/fontHeaders/home.png" class="img-fluid" width="700" height="200" alt=""></Image>
						</div>
						<div class="w-25 ms-3">
							<svg xmlns="http://www.w3.org/2000/svg" fill="#597487" viewBox="0 0 8 8">
								<path d="M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z"/>
							</svg>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--Next/Prev Button END -->
    
    <br>
    <br>
    <br>
    <footer>
        <div class="container">
            <p>&copy; Rachell Skinner 2024</p>
        </div>
    </footer>
    
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </html>